@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  background-image: url(principales-paises-que-mas-invierten-en-criptomonedas.webp);
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.delete-btn:hover {
  background-color: #c82333;
}


h1, h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.crypto-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.crypto-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crypto-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.crypto-item:hover {
  transform: scale(1.05);
}

.alert-config {
  margin-bottom: 30px;
}

.alert-config label {
  margin-top: 10px;
  font-weight: 600;
  display: block;
}

.alert-config input,
.alert-config select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  font-size: 1rem;
  background-color: #f8f9fa;
}

.alert-config button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.alert-config button:hover {
  background-color: #218838;
}

.alerts {
  background-color: #fff3cd;
  padding: 15px;
  border-left: 6px solid #ffc107;
  border-radius: 8px;
}

.alerts p {
  margin: 0.5rem 0;
}

.loader {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  color: #6c757d;
}
